standalone-client/src/com/company/CoffeeService1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://company.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://company.com/" name="CoffeeService">
<types>
<xsd:schema>
<xsd:import namespace="http://company.com/" schemaLocation="http://localhost:8082/CoffeeService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getCoffees">
<part name="parameters" element="tns:getCoffees"></part>
</message>
<message name="getCoffeesResponse">
<part name="parameters" element="tns:getCoffeesResponse"></part>
</message>
<message name="getFilteredCoffees">
<part name="parameters" element="tns:getFilteredCoffees"></part>
</message>
<message name="getFilteredCoffeesResponse">
<part name="parameters" element="tns:getFilteredCoffeesResponse"></part>
</message>
<message name="CoffeeSortIllegalException">
<part name="fault" element="tns:CoffeeSortIllegalException"></part>
</message>
<message name="createCoffee">
<part name="parameters" element="tns:createCoffee"></part>
</message>
<message name="createCoffeeResponse">
<part name="parameters" element="tns:createCoffeeResponse"></part>
</message>
<message name="CoffeeMissingPropertyException">
<part name="fault" element="tns:CoffeeMissingPropertyException"></part>
</message>
<message name="CoffeeNotUniqueException">
<part name="fault" element="tns:CoffeeNotUniqueException"></part>
</message>
<message name="updateCoffee">
<part name="parameters" element="tns:updateCoffee"></part>
</message>
<message name="updateCoffeeResponse">
<part name="parameters" element="tns:updateCoffeeResponse"></part>
</message>
<message name="CoffeeNotFoundException">
<part name="fault" element="tns:CoffeeNotFoundException"></part>
</message>
<message name="deleteCoffee">
<part name="parameters" element="tns:deleteCoffee"></part>
</message>
<message name="deleteCoffeeResponse">
<part name="parameters" element="tns:deleteCoffeeResponse"></part>
</message>
<portType name="CoffeeWebService">
<operation name="getCoffees">
<input wsam:Action="http://company.com/CoffeeWebService/getCoffeesRequest" message="tns:getCoffees"></input>
<output wsam:Action="http://company.com/CoffeeWebService/getCoffeesResponse" message="tns:getCoffeesResponse"></output>
</operation>
<operation name="getFilteredCoffees">
<input wsam:Action="http://company.com/CoffeeWebService/getFilteredCoffeesRequest" message="tns:getFilteredCoffees"></input>
<output wsam:Action="http://company.com/CoffeeWebService/getFilteredCoffeesResponse" message="tns:getFilteredCoffeesResponse"></output>
<fault message="tns:CoffeeSortIllegalException" name="CoffeeSortIllegalException" wsam:Action="http://company.com/CoffeeWebService/getFilteredCoffees/Fault/CoffeeSortIllegalException"></fault>
</operation>
<operation name="createCoffee">
<input wsam:Action="http://company.com/CoffeeWebService/createCoffeeRequest" message="tns:createCoffee"></input>
<output wsam:Action="http://company.com/CoffeeWebService/createCoffeeResponse" message="tns:createCoffeeResponse"></output>
<fault message="tns:CoffeeSortIllegalException" name="CoffeeSortIllegalException" wsam:Action="http://company.com/CoffeeWebService/createCoffee/Fault/CoffeeSortIllegalException"></fault>
<fault message="tns:CoffeeMissingPropertyException" name="CoffeeMissingPropertyException" wsam:Action="http://company.com/CoffeeWebService/createCoffee/Fault/CoffeeMissingPropertyException"></fault>
<fault message="tns:CoffeeNotUniqueException" name="CoffeeNotUniqueException" wsam:Action="http://company.com/CoffeeWebService/createCoffee/Fault/CoffeeNotUniqueException"></fault>
</operation>
<operation name="updateCoffee">
<input wsam:Action="http://company.com/CoffeeWebService/updateCoffeeRequest" message="tns:updateCoffee"></input>
<output wsam:Action="http://company.com/CoffeeWebService/updateCoffeeResponse" message="tns:updateCoffeeResponse"></output>
<fault message="tns:CoffeeNotFoundException" name="CoffeeNotFoundException" wsam:Action="http://company.com/CoffeeWebService/updateCoffee/Fault/CoffeeNotFoundException"></fault>
<fault message="tns:CoffeeSortIllegalException" name="CoffeeSortIllegalException" wsam:Action="http://company.com/CoffeeWebService/updateCoffee/Fault/CoffeeSortIllegalException"></fault>
<fault message="tns:CoffeeNotUniqueException" name="CoffeeNotUniqueException" wsam:Action="http://company.com/CoffeeWebService/updateCoffee/Fault/CoffeeNotUniqueException"></fault>
</operation>
<operation name="deleteCoffee">
<input wsam:Action="http://company.com/CoffeeWebService/deleteCoffeeRequest" message="tns:deleteCoffee"></input>
<output wsam:Action="http://company.com/CoffeeWebService/deleteCoffeeResponse" message="tns:deleteCoffeeResponse"></output>
<fault message="tns:CoffeeNotFoundException" name="CoffeeNotFoundException" wsam:Action="http://company.com/CoffeeWebService/deleteCoffee/Fault/CoffeeNotFoundException"></fault>
</operation>
</portType>
<binding name="CoffeeWebServicePortBinding" type="tns:CoffeeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getCoffees">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFilteredCoffees">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CoffeeSortIllegalException">
<soap:fault name="CoffeeSortIllegalException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createCoffee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CoffeeSortIllegalException">
<soap:fault name="CoffeeSortIllegalException" use="literal"></soap:fault>
</fault>
<fault name="CoffeeMissingPropertyException">
<soap:fault name="CoffeeMissingPropertyException" use="literal"></soap:fault>
</fault>
<fault name="CoffeeNotUniqueException">
<soap:fault name="CoffeeNotUniqueException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateCoffee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CoffeeNotFoundException">
<soap:fault name="CoffeeNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="CoffeeSortIllegalException">
<soap:fault name="CoffeeSortIllegalException" use="literal"></soap:fault>
</fault>
<fault name="CoffeeNotUniqueException">
<soap:fault name="CoffeeNotUniqueException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteCoffee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="CoffeeNotFoundException">
<soap:fault name="CoffeeNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CoffeeService">
<port name="CoffeeWebServicePort" binding="tns:CoffeeWebServicePortBinding">
<soap:address location="http://localhost:8082/CoffeeService"></soap:address>
</port>
</service>
</definitions>